<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Prediction</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Iris Prediction</h1>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <form method="post">
                    <div class="form-group">
                        <label for="sepal-length">Sepal Length (cm)</label>
                        <input type="number" step="any" class="form-control" name="sepal-length">
                    </div>
                    <div class="form-group">
                        <label for="sepal-width">Sepal Width (cm)</label>
                        <input type="number"  step="any" class="form-control" name="sepal-width">
                    </div>
                    <div class="form-group">
                        <label for="petal-length">Petal Length (cm)</label>
                        <input type="number" step="any" class="form-control" name="petal-length">
                    </div>
                    <div class="form-group">
                        <label for="petal-width">Petal Width (cm)</label>
                        <input type="number" step="any" class="form-control" name="petal-width">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="predict()">Predict</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            
            <div class="col-md-6">
                <h4 id="prediction-result" class="text-center">Prediction</h4>
                {% if prediction %}
                    <p class="text-center">
                        <strong>Prediction By K-Means:</strong> {{ prediction[0] }} <br>
                        <strong>Prediction By KNN:</strong> {{ prediction[0] }}
                    </p>
                {% endif %}
            </div>
            
        </div>
    </div>
    <footer class="bg-dark text-light text-center p-1">
        Designed with <span class="heart">&hearts;</span> by Ahmed Gelwan <br>

        &copy; 2023 Iris Prediction.
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your custom JavaScript -->
    
    </script>
</body>
</html>
